@font-face {
  font-family: "Montserrat";
  src: url("font/Montserrat-ExtraLight.eot");
  src: url("font/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("font/Montserrat-ExtraLight.woff2") format("woff2"),
    url("font/Montserrat-ExtraLight.woff") format("woff"),
    url("font/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("font/Montserrat-Regular.eot");
  src: url("font/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("font/Montserrat-Regular.woff2") format("woff2"),
    url("font/Montserrat-Regular.woff") format("woff"),
    url("font/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("font/Montserrat-Medium.eot");
  src: url("font/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("font/Montserrat-Medium.woff2") format("woff2"),
    url("font/Montserrat-Medium.woff") format("woff"),
    url("font/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("font/Montserrat-SemiBold.eot");
  src: url("font/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("font/Montserrat-SemiBold.woff2") format("woff2"),
    url("font/Montserrat-SemiBold.woff") format("woff"),
    url("font/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("font/Montserrat-Thin.eot");
  src: url("font/Montserrat-Thin.eot?#iefix") format("embedded-opentype"),
    url("font/Montserrat-Thin.woff2") format("woff2"),
    url("font/Montserrat-Thin.woff") format("woff"),
    url("font/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

* {
  font-family: "Montserrat", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #000;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__profile {
  border-bottom: 2px solid #333;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.header_logo img {
  max-width: 135.35px;
}

.nav {
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
}

.nav-list_item {
  transition: margin-top 0.2s ease-out;
}

.nav-list_item_link {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;

  font-weight: 500;
}

.header-contact {
  text-align: center;
}

.header-contact_number {
  color: inherit;
  text-decoration: none;

  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 30px;
}

.header-contact_list {
}

.header-contact_item {
  text-decoration: none;

  font-weight: 400;
  color: inherit;
  line-height: 12px;
  font-size: 12px;

  img {
    margin-right: 2px;
    vertical-align: middle;
  }

  & + & {
    margin-left: 10px;
  }
}

.header_button {
  order: 1;
  width: 33px;
  height: 33px;
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #000;
  flex-direction: column;
  justify-content: center;
  position: relative;
  display: none;
  overflow: hidden;

  &:before {
    transform: translateY(-8px);
  }

  &:after {
    transform: translateY(8px);
  }

  &:after,
  &:before {
    transform-origin: center;
    content: "";
    position: absolute;
    left: 5px;
    width: calc(100% - 10px);
  }

  span,
  &:after,
  &:before {
    transition: opacity 0.123s ease-in, transform 0.123s ease-in;
    display: block;
    height: 3.2px;
    border-radius: 8px;
    background-color: #484848;
  }

  span {
    width: 100%;
  }
}

.header_button__active {
  &::before {
    transform: translate(0) rotate(45deg);
  }

  span {
    transform: translateX(-10px);
    opacity: 0;
  }

  &::after {
    transform: translate(0) rotate(-45deg);
  }
}

.main {
  flex-grow: 1;
  position: relative;
  padding: 60px 0;
  min-height: 80vh;
}

.main:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  max-height: 392px;
  background-image: linear-gradient(180deg, #156221 72%, #ffffff 100%);
  position: absolute;
  z-index: -1;
}

.main_inner__profile {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px lightgray;
  padding: {
    top: 20px;
    bottom: 20px;
  }
}

.main__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 36px;
  margin: 0;
  font-weight: 600;
}

.profile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}

.profile-top_title {
  font-size: 26px;
  margin: 0;
  font-weight: 500;
}

.profile-top_button {
  padding: 15px 20px;
  border: 2px solid #27ae60;
  color: #27ae60;
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 18;
  font-weight: 500;
  transition: background-color 0.123s ease-in, color 0.123s ease-in;

  &:hover {
    background-color: #27ae60;
    color: #fff;
  }
}

.table {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.table-row__main {
  row-gap: 20px;
}

.modal__contract {
  .modal-inner {
    max-width: 1200px;
  }
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-row__modal {
  grid-template-columns: repeat(5, 1fr);
}

.table__modal {
  .table-row_item {
    color: #fff !important;
  }

  .table-row__paid {
    background-color: #40d67e;
  }

  .table-row__partly {
    background-color: #dfb307;
  }

  .table-row__notpaid {
    background-color: #f89807;
  }
}

.table-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  background-color: rgba(30, 190, 57, 0.05);
  color: #333;
  padding: 10px 0;

  &:first-child {
    background-color: #333;
    color: #fff;
  }

  &__warning {
    background-color: rgba(194, 68, 39, 0.1);
  }
}

.table-row_item {
  padding: 0 3px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  span {
    font-size: 16px;
    display: block;
  }
}

.table-row_item_active {
  border: 0;
  display: inline;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  color: inherit;
}

.table-row_item_input {
  background-color: #f0efef;
  border-radius: 8px;
  border: 0;
  padding: 5px 10px;
  width: 100%;
  font-size: 18px;
}

.table-row_item_button {
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  background-color: #333;
  color: #fff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  transform-origin: center;
  transition: transform 0.123s ease-in;

  &:hover {
    transform: scale(1.02);
  }
}

.table-row__warning .table-row_item {
  &:nth-child(1),
  &:nth-child(3),
  &:nth-child(4) {
    color: #ff464f;
  }
}

// _contract

.contract {
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

.contract-item {
  display: flex;
  font-size: 16px;
  padding: 10px 5px;

  &:nth-child(odd) {
    background-color: #333;
    color: #fff;
  }
}

.contract-item_empty {
  flex-grow: 1;
}

.auth-form {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 54px;
  text-align: center;
}

.auth-form_title {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 20px;
}

.auth-form_block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.auth-form_plus {
  width: 34px;
  height: 34px;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  font-size: 22px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form_input {
  background-color: #f2f2f2;
  border: 0;
  flex-grow: 1;
  width: 100%;
  box-sizing: content-box;
  padding: 14px;
  border-radius: 4px;
  box-shadow: -10px 0 10px -5px rgba(190, 190, 190, 0.6);
  font-size: 16px;
}

.code-form_block {
  align-items: stretch;
  gap: 10px;
}

.code-form_input {
  width: 100%;
}

.code-form_input__error {
  color: #ea3e36;
  border: 1px solid #ea3e36;
}

.code-form_button {
  max-width: 100px;
  font-weight: 500;
}

.auth-form_button {
  border: 0;
  background-color: #519e5c;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.123s ease-in;
  &:hover {
    background-color: #4a8c54;
  }
}

.footer {
  padding: 22px 0;
  background-color: #212121;
  color: #fff;
}

// _калькулятор

.modal {
  position: fixed;
  z-index: 10;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212121;
  visibility: hidden;
  transition: visibility 0.123s ease-in;
}

.modal__active {
  visibility: visible;
}

.modal_background {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
}

.modal-inner {
  position: absolute;
  padding: 63px;
  background-color: #fff;
  max-height: 100vh;
  overflow: auto;
  width: 100%;
  max-width: 660px;
  transform: translateY(-100%);
  top: 0;
  transition: top 0.123s ease-in, transform 0.123s ease-in;
}
.modal__active .modal-inner {
  top: auto;
  transform: translateY(0);
}
.modal-list {
  margin: 0;
  padding-left: 20px;
}

.modal-list_item {
  font-size: 14px;

  font-weight: 400;
  line-height: 20px;
  & + & {
    margin-top: 24px;
  }
}

.modal-inner_close {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: 0;
  border: 0;
}

.footer_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-logo_link {
  text-decoration: none;
}

.footer-logo_link {
  img {
    transition: filter 0.123s ease-in, transform 0.123s ease-in;
  }

  &:hover img {
    filter: brightness(2);
    transform: scale(0.9);
  }
}

.footer_right {
  display: flex;
  align-items: center;
  max-width: 570px;
  gap: 30px;
}

.footer_button {
  width: 28.5px;
  height: 28.5px;
  padding: 5px;
  background-color: #cdcdcd;
  border: none;
  flex-direction: column;
  justify-content: center;
  position: relative;
  display: none;
  overflow: hidden;

  &:before {
    transform: translateY(-6px);
  }

  &:after {
    transform: translateY(6px);
  }

  &:after,
  &:before {
    transform-origin: center;
    content: "";
    position: absolute;
    left: 5px;
    width: calc(100% - 10px);
  }

  span,
  &:after,
  &:before {
    transition: opacity 0.123s ease-in, transform 0.123s ease-in;
    display: block;
    height: 3.2px;
    border-radius: 8px;
    background-color: #484848;
  }

  span {
    width: 100%;
  }
}

.footer_button__active {
  &::before {
    transform: translate(0) rotate(45deg);
  }

  span {
    transform: translateX(-10px);
    opacity: 0;
  }

  &::after {
    transform: translate(0) rotate(-45deg);
  }
}

.nav-list__footer {
  gap: 6px;
  flex-direction: column;
}

.nav-list_item__footer:last-child span {
  font-size: 11px;
  font-weight: 400;

  color: #d1d1d1;
  text-decoration: none;
  cursor: pointer;
}

.nav-list_item_link__footer {
  font-size: 12px;
  font-weight: 400;
}

.footer-address {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-style: normal;
}

.footer-address_span_link {
  color: inherit;
  text-decoration: none;
}

.footer-address_span img {
  margin-right: 6px;
}

.footer-address_span:not(:last-child) {
  font-weight: 400;
  font-size: 13px;
}

.footer-address_span:last-child {
  font-weight: 400;
  font-size: 12px;

  a {
    text-decoration: none;
    color: #8c8c8c;
  }
}

@media (max-width: 1131px) {
  .header {
    position: relative;
  }

  .header-nav {
    overflow: hidden;
    position: absolute;
    z-index: 11;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 100%;
  }

  .nav-list:not(.nav-list__footer) {
    flex-direction: column;
    gap: 0;
  }

  .nav-list_item:not(.nav-list_item__footer) {
    margin-top: -30%;

    &:not(:last-child) {
      border-bottom: 1px solid #e5e5e5;
    }
  }

  .header:not(.header__profile)
    .nav-list_item_link:not(.nav-list_item_link__footer) {
    padding: 10px 20px;
    display: block;
    transition: color 0.123s ease-in, background-color 0.123s ease-in;

    &:hover {
      color: #fff;
      background-color: #8c8c8c;
    }
  }

  .header_button {
    display: inline-flex;
  }

  .header-nav__active .nav-list_item {
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .table-row__main {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .header__profile {
    border: 0;
  }

  .header__profile .header-nav {
    overflow: hidden;
    position: absolute;
    z-index: 11;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 100%;
  }

  .header__profile .nav-list:not(.nav-list__footer) {
    flex-direction: column;
    gap: 0;
  }

  .header__profile .nav-list_item:not(.nav-list_item__footer) {
    margin-top: -30%;

    &:not(:last-child) {
      border-bottom: 1px solid #e5e5e5;
    }
  }

  .header__profile .nav-list_item_link:not(.nav-list_item_link__footer) {
    padding: 10px 20px;
    display: block;
    transition: color 0.123s ease-in, background-color 0.123s ease-in;

    &:hover {
      color: #fff;
      background-color: #8c8c8c;
    }
  }

  .header__profile .header-nav__active .nav-list_item {
    margin-top: 0;
  }

  .header__profile .header_button {
    display: inline-flex;
  }

  .footer_inner {
    flex-direction: column;
  }

  .footer-logo {
    flex-direction: row;
  }

  .footer_right {
    width: 100%;
    max-width: 660px;
    flex-direction: column;
    gap: 15px;
  }

  .footer_nav {
    width: 100%;
  }

  .nav-list__footer {
    gap: 0;
    overflow: hidden;
    border-radius: 5px;
  }

  .nav-list_item__footer:not(:last-child) {
    margin-top: -29px;
    transition: margin-top 0.123s ease-in;
  }

  .footer_nav__active .nav-list_item__footer:not(:last-child) {
    margin-top: 0;
  }

  .nav-list_item__footer + .nav-list_item__footer:not(:last-child) {
    border-top: 1px solid #6b6e70;
  }

  .nav-list_item_link__footer {
    display: block;
    padding: 4px 20px;

    &:hover {
      background-color: #55595c;
    }
  }

  .nav-list_item__footer:last-child {
    text-align: center;
  }

  .footer_button {
    display: flex;
    margin-top: 10px;
  }

  .footer-address {
    align-items: center;
  }

  .table-row__main {
    grid-template-columns: 1fr 1fr;

    &:first-child {
      display: none;
    }

    .table-row_item__main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 5px;

      &:not(:nth-child(5)):not(:nth-child(6)) {
        grid-column-end: span 2;
      }

      &:nth-child(1) {
        &:before {
          content: "договор: ";
        }
      }
      &:nth-child(2) {
        &:before {
          content: "общий долг: ";
        }
      }
      &:nth-child(3) {
        &:before {
          content: "дата оплаты: ";
        }
      }
      &:nth-child(4) {
        &:before {
          content: "к оплате: ";
        }
      }
    }
  }

  .modal__contract {
    .modal-inner {
      padding: 30px 20px 20px;
    }
  }

  .table-row__modal {
    grid-template-columns: 1fr;

    &:not(:first-child) + & {
      border-top: 2px solid #fff;
    }

    &:first-child {
      display: none;
    }

    .table-row_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 5px;

      &:nth-child(1):before {
        content: "график оплат";
      }
      &:nth-child(2):before {
        content: "плановые платежи";
      }
      &:nth-child(3):before {
        content: "остаток";
      }
      &:nth-child(4):before {
        content: "оплаты";
      }
      &:nth-child(5):before {
        content: "дата оплаты";
      }
    }
  }
}

@media (max-width: 576px) {
  .header_logo img {
    max-width: 88px;
  }

  .header-contact_number {
    font-size: 14px;
    line-height: 14px;
  }

  .header-contact_list {
    display: inline-block;
  }

  .header-contact_item:not(.header-contact_item__whatsapp) {
    display: none;
    margin: 0;
  }

  .header-contact_item__whatsapp {
    font-size: 0;
    width: 14px;
    vertical-align: middle;
  }

  .main {
    padding: 30px 0;
  }

  .auth-form {
    padding: 30px;
  }

  .auth-form_title {
    font-size: 18px;
  }
}
